@import '../@theme/styles/themes';
@import url("https://pruebasassets.portaloas.udistrital.edu.co/urano-style.css");

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
