<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-title>
        Página no disponible
      </mat-card-title>
      <mat-card-subtitle>
        El enlace no existe o ha sido eliminado
      </mat-card-subtitle>
      <mat-card-content>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <button (click)="goToHome()" type="button" class="btn btn-block btn-hero-primary">
            Ir al inicio
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>