// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/bootstrap/styles/globals';
// ...
// @import url('https://pruebasassets.portaloas.udistrital.edu.co/gaia-style.css');

// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

$my-blue: (
  50: #005caf,
  100: #005caf,
  200: #005caf,
  300: #005caf,
  400: #005caf,
  500: #005caf,
  600: #005caf,
  700: #005caf,
  800: #005caf,
  900: #005caf,
  A100: #005caf,
  A200: #005caf,
  A400: #005caf,
  A700: #005caf,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
// Define your application's custom theme.
$mat-mytheme-primary: mat-palette($my-blue, 100);
$mat-mytheme-accent:  mat-palette($mat-green, A200, A100, A400);

$mat-mytheme: mat-light-theme($mat-mytheme-primary, $mat-mytheme-accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($mat-mytheme);

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
};

.error-field {
  color:#005caf;
  text-decoration-color: #005caf;
  text-decoration-line: underline;
}

mat-card {
  overflow: auto;
}

.currency {
  width: 100%;
  height: 100%;
  text-align: right;
  margin: 0 auto;
}

button[mat-flat-button] {
  text-transform: uppercase;
}

.boton-stepper-initial {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.botones-stepper-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boton-stepper-final {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.plus {
  color: #005caf;
  cursor: pointer;
  padding: 1rem;
}

.smart-table-container {
  overflow-x: scroll;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.custom-paginator {
  display: flex;
  justify-content: flex-end;
}

.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled.mat-form-field-infix::after {
  color: rgba(0, 0, 0, 0.6);
}
