.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file {
    height: 100%;
}

.input-firma {
    min-width: 300px;
}

h2, h5 {
    color: black;
}

h5 {
    text-align: justify;
    text-justify: inter-word;
}
