.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file {
    height: 100%;
}

.input-firma {
    min-width: 300px;
}

h2, h5 {
    color: black;
}

h5 {
    text-align: justify;
    text-justify: inter-word;
}

.contDoc {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    text-align: center;
}

.contDoc h1 {
    color:black;
}

.file-input {
    display: none;
}

.tituloFalse h5 {
    color: red;
}

